body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

main {
    margin-bottom: 2rem;
}

h1, h2, #divGif {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 3em;
}

#divGif {
    flex-direction: column;
    align-items: center;
    p {
        font-size: x-large;
        max-width: 70vw;
        text-align: center;
    }
    img {
        max-width: 75vw;
        max-height: 55vh;
    }
}

#othersButton {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#meteo {
    position: fixed;
    right: 0;
    margin-right: 4rem;
    margin-top: 100vh;
    transition: all 0.5s ease-in-out;
}

.meteo-transition {
    bottom: 0;
    margin-top: 0;
}

#showMeteo {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 4rem;
    height: 4rem;
    border-radius: 1.5rem 0 0 0;
    background-color: #000000;
    color: #ffffff;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

#spotifyEmbed {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: 3rem;
}

// En dessous de 600px de largeur on change l'attr 'width' à 95% de spotifyEmbed > iframe 
// Au dessus on le mets à 50%

#spotifyEmbed {
    iframe {
        width: 80vw;
        max-width: 80vw;
    }
}

@media screen and (max-width: 650px) {
    #spotifyEmbed {
        iframe {
            width: 95vw;
            max-width: 95vw;
        }
    }
}

// Scroller de la page stylisée sur le body

::-webkit-scrollbar {
    width: 0.5rem;
    border-radius: 0.5rem;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}